* {
    margin: 0;
    padding: 0;
}

/* May need to remove this if decide not use bg image */

#background-image-holder {
    background: url(../images/Optimized-shutterstock_1370652038.jpg) no-repeat center center;
    background-color: white;
    background-position: center;
    object-fit: fill;
    width: 100%;
    height: 100vh;
  }

#main-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.button {
   background-color: #7EB2DD;
   border: none;
   color: white;
   padding: 1rem 2rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1rem;
   margin-top: 3rem;
   border-radius: 25px;
   width: 9rem;
  }

.button:hover {
   cursor: pointer;
   box-shadow: 0 0.4rem 0.4rem 0 gray;
   transition: 200ms;
   transform: scale(1.05);
  }

h1 {
   color: #ffbb33;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
   margin-top: 4rem;
   margin-bottom: 6rem;
   text-transform: uppercase;
   letter-spacing: 0.25rem;
}

h2 {
   color: #ffbb33;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.5rem;
   margin-top: 10rem;
   text-transform: uppercase;
   letter-spacing: 0.25rem;
   text-align: center;

}

#question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fake-button {
  display: block;
  width: 8rem;
  height: 1.6rem;
  background: #7EB2DD;
  padding: 0.65rem;
  text-align: center;
  border-radius: 0.3rem;
  color: white;
  line-height: 1.6rem;
  border-radius: 25px;
  margin-top: 3rem;
  text-decoration: none;
}

.fake-button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 0.4rem 0 gray;
  transition: 200ms;
  transform: scale(1.05);
 }

 .modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 1.25rem;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  height: 9rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.social-networks {
  text-align: center;
  position: fixed;
  bottom: 0;
}

.social-networks > li {
  display: inline-block;
  padding: 2rem 3rem;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #ffbb33;
}

#score-container {
  margin-top: 2rem;
  color: #ffbb33;
}

#question-tracker-container {
  margin-top: 2rem;
  color: #ffbb33;
}

.question_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.option-container {
  padding: 2rem;
}

#question-tracker-container {
  padding-top: 2rem;
}

@media screen and (max-width: 410px)  {
  .question_row {
    flex-direction: column;
  }

  .option-container {
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  
}