* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/Optimized-shutterstock_1370652038.jpg) no-repeat center center;
    background-color: white;
    background-position: center;
    object-fit: fill;
    width: 100vw;
    height: 100vh;
  }

#main-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.button {
   background-color: #7EB2DD;
   border: none;
   color: white;
   padding: 1rem 2rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1rem;
   margin-top: 3rem;
   border-radius: 25px;
   width: 9rem;
  }

h1 {
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 10rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

